<!-- Input -->
<section class="input-container">
  <mat-form-field>
    <mat-label>Nazwa taska</mat-label>
    <input #todoInput required matInput id="taskInput" (keyup.enter)="onEnterInput()">
  </mat-form-field>
  <button mat-raised-button id="addBtn" color="add-btn" (click)="onClickAdd()">&#43; Nowy task</button>
</section>

<!-- Todos - do zrobienia -->
<section>
  <mat-label>Lista zadań do zrobienia</mat-label>
  <mat-list role="list">

    <mat-list-item role="listitem" id="todo-list" *ngFor="let todo of getTodoList | todoShouldBeDone:false">
      <app-todo-item-component appTooltip [tooltipDateDone]="todo.doneCreated" [todoIn]="todo" (createDialog)="createDialog($event.message, $event.type)"></app-todo-item-component>
    </mat-list-item>
    
  </mat-list>
</section>

<!-- Todos - gotowe -->
<section>
  <mat-label>Lista zadań gotowych</mat-label>
  <mat-list role="list">

    <mat-list-item role="listitem" id="todo-list" *ngFor="let todo of getTodoList | todoShouldBeDone:true">
      <app-todo-item-component appTooltip [tooltipDateDone]="todo.doneCreated" [todoIn]="todo" (createDialog)="createDialog($event.message, $event.type)" style="text-decoration: line-through;"></app-todo-item-component>
    </mat-list-item>

  </mat-list>
</section>


<!-- Dialog -->
<!-- <div class="dialog-container">
  <div #dialog></div>
</div>
 -->

