.input-container {
    text-align: center;
}

#addBtn {
    margin-left: 1em;
    border-radius: 10em;
}

.mat-add-btn {
    background-color: #A981E9;
    color: white;
}

#todo-list {
    overflow-wrap: anywhere;
    word-wrap: break-all;
    height: auto;
}

/* Dialog */
.dialog-container {
    position: absolute;
    top: 1em;
    right: 1em;
}

